.WeatherBlock {
  width: 91px;
  height: 190px;
  background: linear-gradient(
    180deg,
    #40044f 0%,
    #08010a 91%,
    #08010a 91%,
    #060107 94%,
    black 100%
  );
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0.25rem;
  align-items: center; 
}

.WeatherBlock img {
  margin-bottom: 0.5rem;
}
