.forecast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.forecast-box {
  background: linear-gradient(
    180deg,
    #40044f 0%,
    #08010a 91%,
    #08010a 91%,
    #060107 94%,
    black 100%
  );
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.forecast-box p {
  margin: 5px 0;
  color:white
}

.forecast-box img {
  width: 50px;
  height: 50px;
}
